{% extends 'layout.html.twig' %}

{% block title %} Posts {% endblock %}

{% block head %} {{ knp_pagination_rel_links(posts) }} {% endblock %}

{% block content %}
 
    {{ render_esi(path('post.index.header')) }}

{% include 'component/post/box.html.twig' with {'posts': posts} %}
    
    <div class="navigation">
        {{ knp_pagination_render(posts, 'component/general/paginate.html.twig') }}
    </div>

{% endblock %}

